<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" title="Default Styles" media="all">
    <title>Hello World!</title>
  </head>
  <body>
    <div id="header">
    <%= @header %>
    </div>
    <div id="body">
    <%= @body %>
    </div>
    <div id="footer">
      Page Content last updated on <%= @time %>
    </div>
  </body>
</html>